* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: .5rem;
  border-radius: 20px;
  transition: all .3s;
}

  button:hover {
    cursor: pointer;
  }

textarea {
  resize: none;
}

h1 {
  margin: 2rem auto 1rem;
  padding: 0 1.5rem;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

ul {
  list-style: none;
}

textarea {
  height: 3rem;
}

.hidden {
  visibility: hidden;
}
